[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
# Theia doesn't have a /healthz endpoint, so we use root path instead
healthcheckPath = "/"
healthcheckTimeout = 120
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
